body{
    background-color: rgb(154, 22, 22);
}

.apresentacao{
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 1200px;
    margin: auto;
    position: relative;
}

.caixa1{
    width: 500px;
    margin: auto;
    color: white;
    text-align: right;
}

.caixa1 h1{
    scale: 500px;
}

.caixa2{
    width: 500px;
    color: white;
    padding: 30px;
}

.caixa3{
    width: 500px;
    color: white;
    padding-bottom: 30px;
    text-align: bottom;
}

.caixa4{
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 600px;
    margin: auto;
    position: relative;
    padding: 40px;
}

.caixa4 p{
    color: white;
    margin-left: auto;
    width: 600px;
}

.imagem-capa{
    width: 540px;
    display: block;
    margin-right: auto;
}

.conteudo { padding: 4rem 4rem 3rem; font-size: .9rem; padding-bottom: 5rem; }

.grade { display: grid; grid-template-columns: repeat(4, 1fr); gap: 1rem; margin-top: 2rem; }
.grade .img { aspect-ratio: 3 / 4; background-size: contain; background-repeat: no-repeat; background-position: center;}
.g1 { background-image: url("img/ellie.jpg"); width: 180px;}
.g2 { background-image: url("img/vagalumes.jpg"); width: 180px;}

.img-inteira {
  height: 340px;
  margin-top: 2rem;
  background-image: url("img/cenagirafa.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
}

.icone {
  width: 2.4rem;
  height: 2.4rem;
  flex: none;
  object-fit: contain;
}

.lista-icones {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.8rem 2rem;
  margin-top: 2rem;
  color: white;
  width: fit-content; 
  margin-left: auto;    
}